{{>partials/header}}

{{#courses}}
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">{{description}}</p>
      <ul>
        <li><strong>Duration:</strong> {{duration}}</li>
        <li><strong>Start Date:</strong> {{startDate}}</li>
         <li><strong>Time:</strong> {{time}}</li>
        <li><strong>Price:</strong> £{{price}}</li>
        <li><strong>Location:</strong> {{location}}</li>
      </ul>
      <!-- Enrol -->
      <a href="/courses/enrol/{{_id}}" class="btn btn-success btn-sm">Enrol</a>
    </div>
  </div>
{{/courses}}

{{^courses}}
  <p>No courses available yet.</p>
{{/courses}}

{{>partials/footer}}
