{{>partials/header}}
<p class="lead text-center">
  Our centre runs courses of dance classes for users of different levels of fitness and ability.
  Courses vary in length and number of classes. Some are weekend workshops with five sessions over two days,
  while others are blocks of twelve weekly sessions. We typically run around five weekly class sets at any given time
  and host special weekend workshops once or twice a year.
</p>
<div>
<a class= "btn btn-primary" href= "/courses"> View Dance Courses </a>
<a class= "btn btn-secondary" href= "/login"> Organiser Login </a>
</div>
{{>partials/footer}}