{{>partials/header}}
<p class="lead text-center"> Welcome to our dance course booking system ! </p>
<div>
<a class= "btn btn-primary" href= "/courses"> View Dance Cources </a>
<a class= "btn btn-secondary" href= "/login"> Organizer Login </a>
</div>
{{>partials/footer}}