{{>partials/header}}

<p class="lead text-center">Welcome, organiser!</p>

<div class="text-center mb-4">
 
    <a href="/courses/new" class="btn btn-success m-2">Add New Course</a>
    <a href="/organiser/courses" class="btn btn-primary m-2">Manage Courses</a>
    <a href="/organisers" class="btn btn-info m-2">Manage Organisers</a>
    <a href="/logout" class="btn btn-secondary m-2">Logout</a>


</div>


<p class="text-muted text-center"> Manage your courses here.</p>

{{>partials/footer}}
