{{>partials/header}}

<p class="lead text-center">Welcome, organiser!</p>

<div class="text-center mb-4">
  <a class="btn btn-success" href="/courses/new">Add New Course</a>
  <a class="btn btn-info" href="/organiser/courses">Manage Courses</a>
</div>

<p class="text-muted text-center"> Manage your courses here.</p>

{{>partials/footer}}
